<p id="notice"><%= notice %></p>

<p>
  <strong>Production:</strong>
  <%= link_to "#{@production.play.title}", production_path(@production) %>
  at
  <%= link_to "#{@production.theater.name}", theater_path(@production) %>
</p>

<p>
  <strong>Start date:</strong>
  <%= @rehearsal_schedule.start_date %>
</p>

<p>
  <strong>End date:</strong>
  <%= @rehearsal_schedule.end_date %>
</p>
<p>
  <strong>Rehearsal Days:</strong>
  <%= @rehearsal_schedule.rehearsal_days.join(", ") %>
</p>

<p>
  <strong>Default start time:</strong>
  <%= @rehearsal_schedule.start_time.strftime("%-l:%M %P") %>
</p>

<p>
  <strong>Default end time:</strong>
  <%= @rehearsal_schedule.end_time.strftime("%-l:%M %P") %>
</p>
<% if @rehearsal_schedule.space %>
  <p>
    <strong>Default space:</strong>
    <%= @rehearsal_schedule.space.name %>
  </p>
<% end %>
<p>
  <strong>Default attendees:</strong>
  <%= @rehearsal_schedule.users.map(&:name).join(", ") %>
  <p>
    <strong>Length of rehearsal block:</strong>
    <%= @rehearsal_schedule.interval %>
    minutes
  </p>
  <% if @rehearsal_schedule.rehearsals.empty? %>
    <%= link_to "Edit rehearsal schedule", edit_rehearsal_schedule_path %>
    <%= link_to "Build Schedule", build_rehearsal_schedule_path(id: @rehearsal_schedule.id), class: "btn btn-primary btn-block btn-edit" %>
  <% else %>
    <p>
      <strong>Dailies:</strong>
      <table class="table table-bordered table-striped">
        <% @rehearsal_schedule.dailies.each do |day, rehearsals| %>
          <tr>
            <td colspan="4">
              <strong>
                <%= day %>
              </strong>
            </td>
          </tr>
          <% rehearsals.each do |rehearsal| %>
            <tr>
              <td>
                <%= rehearsal.start_time.strftime("%-l:%M %P") %>-<%= rehearsal.end_time.strftime("%-l:%M %P") %>
              </td>
              <td>
                <% unless rehearsal.title.blank? %>
                  <%= rehearsal.title %>
                  <br>
                <% end %>
                <% unless rehearsal.notes.blank? %>
                  (<%= rehearsal.notes %>)
                  <br>
                <% end %>
                <% unless rehearsal.material.empty? %>
                  Material:
                  <%= safe_join(rehearsal.material.map { |item| link_to(item.pretty_name, item) }, ", ".html_safe) %>
                <% end %>

              </td>
              <td>
                People called:
                <ul>
                  <% rehearsal.users.each do |user| %>
                    <li>
                      <%= link_to "#{user.name}", user %>
                    </li>
                  <% end %>
                </ul>
              </td>
              <td>
                Pages:
                <%= rehearsal.pages %>
              </td>
              <td>
                <%= link_to "Edit", edit_rehearsal_path(rehearsal) %>
                |
                <%= link_to 'Destroy', rehearsal, method: :delete, data: { confirm: 'Are you sure?' } %>
              </td>
            </tr>
          <% end %>
        <% end %>
      </table>
    </p>
    <p>
      <%= link_to "Add rehearsal", new_rehearsal_schedule_rehearsal_path(@rehearsal_schedule) %>
    </p>
  <% end %>