<div class="nested-fields"> 
<%= f.number_field :french_scene_number %>
<%= f.number_field :start_page %>
<%= f.number_field :end_page %>
<%= f.collection_check_boxes :characters, @play.characters.all, :id, :name %>
  <%= link_to_remove_association "remove french scene", f %>
</div>