<p id="notice"><%= notice %></p>

<p>
  <strong>Text:</strong>
  <%= @line.text %>
</p>

<p>
  <strong>Character:</strong>
  <% if @line.character %>
    <%= link_to "#{@line.character.identifier}", character_path(@line.character) %>
  <% end %>
</p>

<p>
  <strong>French Scene:</strong>
  <%= link_to "#{@line.french_scene.pretty_name}", french_scene_path(@line.french_scene) %>
</p>

<p>
  <strong>Category:</strong>
  <%= @line.category %>
</p>

<p>
  <strong>Cut:</strong>
  <%= @line.cut %>
</p>
<p>
  <strong>Line Number:</strong>
  <%= @line.line_number %>
</p>

<%= link_to 'Edit', edit_line_path(@line) %>