<%= bootstrap_form_for(@rehearsal, inline_errors: false, layout: :horizontal, label_col: "col-sm-2", control_col: "col-sm-10" ) do |f| %>
<div>
  <h2>Do you have a title for this rehearsal (e.g. "Music Rehearsal" or "Full Run--Dress")</h2>
  <%= f.text_field :title %>
</div>
<div>
  <h2>
    Set date and time.
  </h2>
</div>
  <%= f.datetime_select :start_time %>
  <%= f.datetime_select :end_time %>
  <%= f.select :space_id, Space.all.collect {|p| [p.name, p.id]}, include_blank: true %>
  <%= f.collection_check_boxes :user_ids, @production.involved_users, :id, :name, label: "Who should be there?" %>
<div>
  <h2>
    Select material:
  </h2>
  <%= f.select :play_ids, [["Full Run", @production.play.id ]], include_blank: true, label: "Run whole play?" %>
  <%= f.collection_check_boxes :act_ids, @production.play.acts, :id, :pretty_name %>
  <%= f.collection_check_boxes :scene_ids, @scenes, :id, :pretty_name %>
  <%= f.collection_check_boxes :french_scene_ids, @french_scenes, :id, :pretty_name %>
  <%= f.text_field :notes %>
</div>

  <%= f.submit %>
<% end %>
