<h1>Editing Rehearsal
  <% if @rehearsal.start_time && @rehearsal.end_time %>
    for <%= @rehearsal.start_time.strftime("%A, %b %-d, %-l:%M %P") %>-<%= @rehearsal.end_time.strftime("%-l:%M %P") %>
  <% end %>
</h1>
<% unless @rehearsal.actor_conflicts.empty? %>
  <div class="row">
    <div class="col-md-3">
      <h2>
        Actors are unavailable for:
      </h2>
    <div>
      Unavailable french scenes:
      <% @unavailable_french_scenes.each do |french_scene, unavailable_actors| %>
        <ul>
          <li><%= french_scene %> (<%= "#{unavailable_actors.map(&:name).join(", ")}" %>)</li>
        </ul>
      <% end %>
    </div>
    <div>
      Unavailable scenes:
      <% @unavailable_scenes.each do |scene, unavailable_actors | %>
        <ul>
          <li><%= link_to "#{scene}" %> (<%= "#{unavailable_actors.map(&:name).join(", ")}" %>)</li>
        </ul>
      <% end %>
    </div>
    <div>
      Unavailable acts:
      <% @unavailable_acts.each do |act, unavailable_actors| %>
        <ul>
          <li><%= link_to "#{act}" %> (<%= "#{unavailable_actors.map(&:name).join(", ")}" %>)</li>
        </ul>
      <% end %>
    </div>
  </div>
    <div class="col-md-3">
      <h2>
        Actors are available for:
      </h2>
      <div>
        Available French scenes:
        <% @available_french_scenes.each do |french_scene| %>
          <ul>
            <li><%= french_scene.pretty_name %> (<%= french_scene.actors_called(@production).map(&:name).join(', ') %>)</li>
          </ul>
        <% end %>
      </div>
      <div>
        Available scenes:
        <% @available_scenes.each do |scene| %>
          <ul>
            <li><%= scene.pretty_name %> (<%= scene.actors_called(@production).map(&:name).join(', ') %>)</li>
          </ul>
        <% end %>
      </div>
      <div>
        Available acts:
        <% @available_acts.each do |act| %>
          <ul>
            <li><%= act.act_number %></li>
          </ul>
        <% end %>
      </div>
    </div>
<% end %>
  <div class="col-md-3">
    <h2>
      Recommended
    </h2>
    <% if @rehearsal.find_previous_rehearsal %>
      <%= @rehearsal.generate_previous_recommendation %>
    <% end %>
  </div>
  <div class="col-md-3">
    <h2>
      Also scheduled for today
    </h2>
    <ul>
      <% @rehearsal.also_scheduled_today.each do |rehearsal| %>
      <li>
        <% start = "#{rehearsal.start_time.strftime("%-l:%M %P")}" %>
        <% end_time = "#{rehearsal.end_time.strftime("%-l:%M %P")}" %>
        <%= link_to "#{start}-#{end_time}", rehearsal %>: <%= safe_join(rehearsal.material.map { |item| link_to(item.pretty_name, item) }, ", ".html_safe) %> (<%= safe_join(rehearsal.users.map { |user| link_to(user.name, user) }, ", ".html_safe) %> 
      </li>
      <% end %>
    </ul>
  </div>
<div class="row">
  <div class="col-md-12">
    <%= render 'form' %>
  </div>
</div><!-- row -->
<%= link_to 'Show', @rehearsal %>
