<p id="notice"><%= notice %></p>
<p>
  <strong>Date:</strong>
  <%= @rehearsal.start_time.strftime("%B %-d, %Y") %>
</p>
<% unless @rehearsal.title.blank? %>
  <p>
    <strong>Title:</strong>
    <%= @rehearsal.title %>
  </p>
<% end %>
<p>
  <strong>Time:</strong>
  <%= @rehearsal.start_time.strftime("%-l:%M %P") %>-<%= @rehearsal.end_time.strftime("%-l:%M %P") %>
</p>

<p>
  <strong>Script:</strong>
  <%= safe_join(@rehearsal.material.map { |item| link_to(item.pretty_name, item) }, ", ".html_safe) %>
</p>
<% unless @rehearsal.notes.blank? %>
  <p>
    <strong>Notes:</strong>
    <%= @rehearsal.notes %>
  </p>
<% end %>
<p>
  <strong>Space:</strong>
  <% if @rehearsal.space %>
    <%= link_to "#{@rehearsal.space.name}" %>
  <% else %>
    TBD
  <% end %>
</p>
<p>
  <strong>Who is called?</strong>
  <ul>
  <% @rehearsal.users.each do |user| %>
    <li>
      <%= link_to "#{user.name}", user %>
    </li>
  <% end %>
  </ul>
</p>
<p>
  <strong>Production:</strong>
  <%= link_to "#{@rehearsal_schedule.production.play.title} at #{@rehearsal_schedule.production.theater.name}", @production %>
</p>
<p>
  <%= link_to 'Edit', edit_rehearsal_path(@rehearsal) %> | <%= link_to "Full Schedule", rehearsal_schedule_path(@rehearsal_schedule) %><br>
  <% if @rehearsal.find_previous_rehearsal %>
    <%= link_to "Previous rehearsal block", rehearsal_path(@rehearsal.find_previous_rehearsal) %>
  <% end %>
  |
  <% if @rehearsal.find_next_rehearsal %>
    <%= link_to "Next rehearsal block", rehearsal_path(@rehearsal.find_next_rehearsal) %>
  <% end %>
