<h1>Editing Play</h1>
<div class="form">
<%= semantic_form_for @play do |f| %>
  <%= f.inputs do %>
    <%= f.input :title %>
    <%= f.input :date, :label => "Year", :order => [:year], :start_year => Time.now.year - 1000, :end_year => Time.now.year %>
    <div class="acts">
    <%= f.semantic_fields_for :acts do |act| %>
      <%= render 'shared_partials/act_fields', :f => act %>
    <% end %>
    <%= link_to_add_association 'add act', f, :acts, partial: 'shared_partials/act_fields' %>
    </div>
    <div class="links">
  <%= f.actions do %>
    <%= f.action :submit, :as => :input %>
  <% end %>
<% end %>
<% end %>

<%= link_to 'Show', @play %> |
<%= link_to 'Back', author_path(@play.author) %>

</div>
</div>