<p id="notice"><%= notice %></p>

<% if @author %>
  <h1>Listing Plays by <%= @author.name %></h1>
<% else %>
  <h1>Listing All Plays</h1>
<% end %>

<table class="table">
  <thead>
    <tr>
      <th>Title</th>
      <th>Author</th>
      <th>Date</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @plays.canonical.each do |play| %>
        <tr>
          <td><%= link_to "#{play.title}", play_path(play) %></td>
          <td><%= play.author.name %></td>
          <td><% if play.date %><%= play.date.strftime("%Y") %><% end %></td>
          <td><%= link_to 'Destroy', play, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
    <% end %>
  </tbody>
</table>

<br>

<% if @author %>
  <%= link_to 'New Play', new_author_play_path(@author) %>
<% end %>
