

<h1>New Play</h1>

<%= semantic_form_for [@author, @play] do |f| %>
  <%= f.inputs do %>
    <%= f.input :title %>
    <%= f.input :canonical %>
    <%= f.input :date, :label => "Year", :order => [:year], :start_year => Time.now.year - 1000, :end_year => Time.now.year %>
    <%= f.input :text_notes, :hint => "Information about the edition you used, like the press, editor, ISBN, etc." %>
    <%= f.input :summary %>
  <% end %>
  
  <%= f.actions do %>
    <%= f.action :submit, :as => :input %>
  <% end %>
<% end %>

<%= link_to 'Back', author_plays_path(@author) %>
