<h1>New Play</h1>


<%= bootstrap_form_for([@author, @play], inline_errors: false, layout: :horizontal, label_col: "col-sm-2", control_col: "col-sm-10" ) do |f| %>
  <%= f.text_field :title %>
  <%= f.check_box :canonical, label: "Is this the canonical version of the play?" %>
  <%= f.date_select :date, :label => "Year", :order => [:year], :start_year => Time.now.year - 1000, :end_year => Time.now.year %>
  <%= f.text_area :text_notes, :hint => "Information about the edition you used, like the press, editor, ISBN, etc." %>
  <%= f.file_field :script, label: "If you have a version of the script that is a *.txt file, we will try to parse it and do line counts and other cool stuff." %>
  <%= f.text_area :summary %>
  
  <%= f.submit %>

<% end %>

<%= link_to 'Back', author_plays_path(@author) %>
