<p id="notice"><%= notice %></p>

<h1>Listing Spaces</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Street address</th>
      <th>City</th>
      <th>State</th>
      <th>Zip</th>
      <th>Phone number</th>
      <th>Website</th>
      <th>Seating capacity</th>
      <th>Calendar</th>
      <th>Theater</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @spaces.each do |space| %>
      <tr>
        <td><%= link_to "#{space.name}", space_path(space) %></td>
        <td><%= space.street_address %></td>
        <td><%= space.city %></td>
        <td><%= space.state %></td>
        <td><%= space.zip %></td>
        <td><%= space.phone_number %></td>
        <td><%= space.website %></td>
        <td><%= space.seating_capacity %></td>
        <td><%= space.calendar %></td>
        <td><%= space.theater %></td>
        <td><%= link_to 'Destroy', space, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Space', new_space_path %>
