<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= best_in_place @space, :name %>
</p>

<p>
  <strong>Street address:</strong>
  <%= best_in_place @space, :street_address %>
</p>

<p>
  <strong>City:</strong>
  <%= best_in_place @space, :city %>
</p>

<p>
  <strong>State:</strong>
  <%= best_in_place @space, :state %>
</p>

<p>
  <strong>Zip:</strong>
  <%= best_in_place @space, :zip %>
</p>

<p>
  <strong>Phone number:</strong>
  <%= phone_number_link("#{@space.phone_number}") %>
</p>

<p>
  <strong>Website:</strong>
  <%= link_to @space.website, "http://#{@space.website}" %>
</p>

<p>
  <strong>Seating capacity:</strong>
  <%= best_in_place @space, :seating_capacity %>
</p>

<p>
  <strong>Calendar:</strong>
  <%= best_in_place @space, :calendar %>
</p>

<p>
  <strong>Theaters:</strong>
  <ul>
  <% @space.theaters.each do |theater| %>
  <li><%= link_to "#{theater.name}", theater %></li>
  <% end %>
  </ul>
</p>

<%= link_to 'Edit', edit_space_path(@space) %> 