<p id="notice"><%= notice %></p>

<h1>Listing Jobs</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Specialization</th>
      <th>Production</th>
      <th>Theater</th>
      <th>Dates</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @jobs.each do |job| %>
      <tr>
        <td><%= job.user.try(:name) %></td>
        <td><%= job.specialization.try(:title) %></td>
        <td><%= job.production.play.try(:title) %></td>
        <td><%= job.theater.try(:name) %></td>
        <td><%= job.try(:start_date) %> - <%= job.try(:end_date) %>
        <td><%= link_to 'Show', job %></td>
        <td><%= link_to 'Edit', edit_job_path(job) %></td>
        <td><%= link_to 'Destroy', job, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Job', new_job_path %>
