<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= link_to "#{@job.user.name}", user_path(@job.user) %>
</p>

<p>
  <strong>Specialization:</strong>
  <%= @job.specialization.title %>
</p>

<p>
  <strong>Production:</strong>
  <%= link_to "#{@job.production.pretty_name}", production_path(@job.production) %>
</p>

<p>
  <strong>Theater:</strong>
  <%= link_to "#{@job.theater.name}", theater_path(@job.theater) %>
</p>

<p>
	<strong>Dates:</strong>
	<% if @job.start_date %><%= @job.start_date.strftime("%b %d, %Y") %><% end %> - <% if @job.end_date %><%= @job.end_date.strftime("%b %d, %Y") %> <% end %>
</p>

<%= link_to 'Edit', edit_job_path(@job) %>
