<% content_for :head do %>
  <title>All Authors</title>
<% end %>
<h1>Listing Authors</h1>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Birth date</th>
      <th>Death date</th>
      <th>Bio</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @authors.each do |author| %>
      <tr>
        <td><%= link_to "#{author.name}", author_path(author) %></td>
        <td><%= author.birth_date %></td>
        <td><%= author.death_date %></td>
        <td><%= author.bio %></td>
        <td><%= link_to 'Destroy', author, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Author', new_author_path %>
