<p id="notice"><%= notice %></p>

<h1>Listing Default Rehearsal Attendees</h1>

<table>
  <thead>
    <tr>
      <th>Rehearsal schedule</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @default_rehearsal_attendees.each do |default_rehearsal_attendee| %>
      <tr>
        <td><%= default_rehearsal_attendee.rehearsal_schedule %></td>
        <td><%= default_rehearsal_attendee.user %></td>
        <td><%= link_to 'Show', default_rehearsal_attendee %></td>
        <td><%= link_to 'Edit', edit_default_rehearsal_attendee_path(default_rehearsal_attendee) %></td>
        <td><%= link_to 'Destroy', default_rehearsal_attendee, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Default rehearsal attendee', new_default_rehearsal_attendee_path %>
