<% content_for :head do %><title><%= "Productions by #{@theater.name}" %></title><% end %>
<p id="notice"><%= notice %></p>

<h1>Listing Productions</h1>

<table>
  <thead>
    <tr>
      <th>Play</th>
      <th>Start date</th>
      <th>End date</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @productions.each do |production| %>
      <tr>
        <td><%= production.play.title %></td>
        <td><%= production.start_date %></td>
        <td><%= production.end_date %></td>
        <td><%= link_to 'Destroy', production, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Production', new_theater_production_path %>
