<p id="notice"><%= notice %></p>

<p>
  <strong>Dates:</strong>
  <%= @production.start_date.strftime("%b %d, %Y") %> - <%= @production.end_date.strftime("%b %d, %Y") %> 
</p>

<p>
  <strong>Play:</strong>
  <%= link_to "#{@production.play.title}", play_path(@production.play) %>
</p>

<p>
  <strong>Theater:</strong>
  <%= link_to "#{@production.theater.name}", theater_path(@production.theater) %>
</p>

<%= link_to 'Edit', edit_production_path(@production) %>