<% content_for :head do %>
  <title><%= "#{@character.identifier} from #{@character.play.title}" %></title>
<% end %>
<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= best_in_place @character, :name %>
</p>

<p>
  <strong>Age:</strong>
  <%= @character.age %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @character.gender %>
</p>

<p>
  <strong>Play:</strong>
  <%= link_to "#{@character.play.title}", play_path(@character.play) %>
</p>
<p>
  <strong>Lines:</strong>
  <ul>
    <% @character.lines.each do |line| %>
      <li><%= line.line_number %>:
        <%= line.text %></li>
    <% end %>
  </ul>

  <p>
    <%= link_to "Edit", edit_character_path(@character) %>
    |
    <%= link_to "Destroy", character_path(@character), method: :delete, data: { confirm: 'Are you sure?' } %>
  </p>