<% content_for :head do %>
  <title><%= "#{@character.name} from #{@character.play.title}" %></title>
<% end %>
<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= best_in_place @character, :name %>
</p>

<p>
  <strong>Age:</strong>
  <%= @character.age %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @character.gender %>
</p>

<p>
  <strong>Play:</strong>
  <%= link_to "#{@character.play.title}", play_path(@character.play) %>
</p>

<p>
	<%= link_to "Edit", edit_character_path(@character) %>
</p>