<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @character.name %>
</p>

<p>
  <strong>Age:</strong>
  <%= @character.age %>
</p>

<p>
  <strong>Is female:</strong>
  <%= @character.is_female %>
</p>

<p>
  <strong>Play:</strong>
  <%= @character.play.title %>
</p>

<%= link_to 'Edit', edit_character_path(@character) %> |
<%= link_to 'Back', play_path(@character.play) %>
