<p id="notice"><%= notice %></p>

<h1>Listing Theaters</h1>

<table class="table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Street address</th>
      <th>City</th>
      <th>State</th>
      <th>Zip</th>
      <th>Phone number</th>
      <th>Mission statement</th>
      <th>Website</th>
      <th>Calendar</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @theaters.each do |theater| %>
      <tr>
        <td><%= link_to "#{theater.name}", theater_path(theater) %></td>
        <td><%= theater.street_address %></td>
        <td><%= theater.city %></td>
        <td><%= theater.state %></td>
        <td><%= theater.zip %></td>
        <td><%= theater.phone_number %></td>
        <td><%= theater.mission_statement %></td>
        <td><%= theater.website %></td>
        <td><%= theater.calendar %></td>
        <td><%= link_to 'Destroy', theater, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Theater', new_theater_path %>
