<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= best_in_place @theater, :name %>
</p>

<p>
  <strong>Street address:</strong>
  <%= best_in_place @theater, :street_address %>
</p>

<p>
  <strong>City:</strong>
  <%= best_in_place @theater, :city %>
</p>

<p>
  <strong>State:</strong>
  <%= best_in_place @theater,:state %>
</p>

<p>
  <strong>Zip:</strong>
  <%= best_in_place @theater, :zip %>
</p>

<p>
  <strong>Phone number:</strong>
  <%= phone_number_link("#{@theater.phone_number}") %>
</p>

<p>
  <strong>Mission statement:</strong>
  <%= best_in_place @theater, :mission_statement, as: :textarea %>
</p>

<p>
  <strong>Website:</strong>
  <%= link_to @theater.website, "http://#{@theater.website}" %>
</p>

<p>
  <strong>Calendar:</strong>
  <%= best_in_place @theater, :calendar %>
</p>

<p>
  <strong>Spaces:</strong>
  <ul>
  <% @theater.spaces.each do |space| %>
    <li><%= link_to "#{space.name}", space_url(space) %>
  <% end %>
  </ul>
  <%= link_to 'Add new space', new_theater_space_path(@theater) %>
</p>

<p>
  <strong>Productions:</strong>
  <ul>
    <% @theater.productions.each do |prod| %>
    <li><%= link_to "#{prod.play.title}", production_url(prod) %>, <% if prod.start_date %><%= prod.start_date.strftime("%Y") %><% end %></li>
      <% end %>
  </ul>
  <%= link_to 'Add new production', new_theater_production_path(@theater) %>
<p>
  <strong>Associated users:</strong>
  <ul>
  <% @theater.users.uniq.each do |user| %>
    <li><%= link_to "#{user.name}", user_path(user) %></li>
  <% end %>
  </ul>
</p>

<%= link_to 'Edit', edit_theater_path(@theater) %>