<% content_for :head do %>
  <title><%= "Editing #{@act.play.title}, Act #{@act.act_number}" %>
<% end %>

<h1>Editing Act <%= @act.act_number %></h1>

<%= render 'form' %>

<%= link_to 'Show', @act %> |
<%= link_to 'Back', play_path(@act.play) %>
